
<mat-card class="chef-card">
  <mat-card-header>
    <div mat-card-avatar="">
      <img src = "{{chef.profilePicURL}}" class = "chef-img">
    </div>

    <mat-card-title><a [routerLink]="['/chef-creation', chef.id]">{{chef.firstName}} {{chef.lastName}} </a></mat-card-title>
    <mat-card-subtitle>{{chef.city}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
     {{chef.description}}
    </p>
    <!--<div ngIf="showDeleteOption">-->
    <div>
      <button >Delete</button>
    </div>
  </mat-card-content>
</mat-card>
